@model CRUD_operations.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />

<div class="table-container">
    <table id="MainTable" class="table">
        <tbody>
            <tr>
                <td rowspan="6" class="poster-cell">
                    <img src="@Model.PosterUrl" alt="@Model.Title" class="poster-image" />
                </td>
                <td class="movie-title">
                    @Html.DisplayFor(modelItem => Model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Director)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Genre)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ReleaseYear)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>