<!-- Define an unordered list with the class "main_list_container" -->
<ul class="main_list_container">
    <!-- Start a foreach loop that iterates over each movie in the ViewBag.Movies collection -->
    @foreach (var m in ViewBag.Movies)
    {
        <!-- For each movie, create a list item with the class "main_movie_container" -->
        <li class="main_movie_container">
            <!-- Create a div for the movie poster with the class "posterContainer" -->
            <div class="posterContainer">
                <!-- Display the movie poster image. The source of the image is the PosterUrl property of the movie object. The alt text is the Title property of the movie object. -->
                <img src="@m.PosterUrl" alt="@m.Title"/>
            </div>
            <!-- Create a div for the movie data with the class "MovieDataContainer" -->
            <div class="MovieDataContainer">
                <!-- Display the movie title in a div with the class "movieTitle" -->
                <div class="movieTitle">
                    @m.Title
                </div>
                <!-- Display the movie director in a div with the class "movieDirector" -->
                <div class="movieDirector">
                    @m.Director
                </div>
                <!-- Display the movie genre in a div with the class "movieGenre" -->
                <div class="movieGenre">
                    @m.Genre
                </div>
                <!-- Display the movie release year in a div with the class "movieReleaseYear" -->
                <div class="movieReleaseYear">
                    @m.ReleaseYear
                </div>
                <!-- Display the movie description in a div with the class "movieDescription" -->
                <div class="movieDescription">
                    @m.Description
                </div>
            </div>
        </li>
    }
</ul>